node_modules
.DS_Store
dist
.env
.env.*
!.env.example
coverage
.vscode/
firebase-debug.log
backend/.env
backend/.env.*
!backend/.env.example
frontend/.env
frontend/.env.*
!frontend/.env.example
backend/uploads
